* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainbody {
    background-color: rgb(231, 238, 245);
    display: flexbox;
}

.mainbody h1 {
    padding: 30px 0 0 60px;
}

.container {
    padding: 30px 60px;
    display: inline-block;
}

.sub-container {
    width: 350px;
    height: 400px;
    border-radius: 15px;
    background: rgb(250, 242, 242);
    box-shadow: 0 40px 100px rgba(211, 208, 208, 0.1);
    padding: 30px;
    overflow: hidden;
}

.sub-container img {
    padding-top: 35px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.sub-container h3 {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

#h3tag {
    text-align: center;
    padding-top: 40px;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}